* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Top Most Yellow Box Css */
#topmost_div {
  box-sizing: border-box;
  color: #000000;
  background-color: #ffd166;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
  line-height: 1.25;
  padding: 0.1px 0;
}
#topmost_div p {
  font-family: "Mr Eaves XL Modern", sans-serif;
  vertical-align: baseline;
  color: #000;
  background: #ffd166;
  font-size: 13px;
  line-height: 1.25;
  font-weight: 500;
  word-spacing: 0.6px;
  letter-spacing: 0.1px;
}
#topmost_div a {
  color: #e85348;
  text-decoration: none;
  font-weight: 700;
  font-family: "Mr Eaves XL Modern Bold", sans-serif;
}

/* Top Most Box for Low Screen Device Css */
#low_sc_top_most_div {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background: #2f4858;
  padding: 10px 20px;
  min-height: 48px;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  font-size: 16px;
  font-family: Mr Eaves XL Modern, sans-serif;
  display: none;
}
#low_sc_top_most_div svg {
  fill: rgb(255, 255, 255);
  width: 130px;
  height: 30%;
}
#low_sc_top_most_div h2 {
  font-size: 1.6em;
  font-family: Mr Eaves XL Modern, sans-serif;
  margin: auto;
  position: relative;
  min-width: 400px;
}
#low_sc_top_most_div button {
  border: none;
  outline: none;
  background: #ed7745;
  font-size: 14px;
  color: white;
  border-radius: 2px;
  padding: 7px 12px;
  margin-right: 25px;
}

/* Help & Track Order Icons Box Css */
.top_divs_container {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
  border-width: 1px 0;
  padding: 7px 0;
  color: #000000;
  overflow: auto;
  background-color: white;
}
.top_most_parent_divs {
  margin: auto;
  max-width: 990px;
  min-width: 768px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#help_track_left_div {
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  font-family: "Mr Eaves XL Modern", sans-serif;
  max-width: 400px;
  min-width: 160px;
  align-items: center;
}
#help_track_left_div a {
  display: flex;
  text-decoration: none;
  color: inherit;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  border: 0;
  font-family: "Mr Eaves XL Modern", sans-serif;
  font-size: 13px;
}
#help_track_left_div a:hover {
  fill: #ed7745;
  color: #ed7745;
}
.help_track_icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#help_track_right_div {
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  font-family: "Mr Eaves XL Modern", sans-serif;
  max-width: 500px;
  min-width: 300px;
  align-items: center;
}
#help_track_right_div a {
  color: #000;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  border: 0;
  font-family: "Mr Eaves XL Modern", sans-serif;
  font-size: 13px;
}
#help_track_right_div a:hover {
  color: #ed7745;
}

/* Box Containing WebPage Logo, Search Bar, LogIN SignUp, Cart Icon Css */
#logo_div_container {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
  border-width: 1px 0;
  padding: 7px 0;
  color: #000000;
  padding: 20px 0;
  font-family: "Mr Eaves XL Modern", sans-serif;
  background-color: white;
}
#logo_div_parent_div {
  margin: auto;
  max-width: 990px;
  min-width: 768px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Logo and Title Css */
#main_logo_title_div {
  max-width: 400px;
  min-width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#main_logo_title_div img {
  width: 45%;
  height: 100%;
  border: 2px solid rgba(255, 128, 0, 0.947);
  border-left: none;
  border-right: none;
  border-radius: 15%;
}
#title_text_div {
  margin-top: -10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title_text_div p {
  margin: 0;
  font-size: 120%;
  font-family: "Mr Eaves XL Modern", sans-serif;
  color: #2f4858;
}
/* Search Bar Css */
#search_label_tag {
  position: relative;
}
#top_search_inp {
  background-color: transparent;
  background: #ffffff;
  border: 1px solid #ccc;
  box-shadow: none;
  height: auto;
  border-radius: 3px;
  font-size: 15.7px;
  max-width: 700px;
  min-width: 630px;
  outline: none;
  padding: 10px 10px;
}
#top_search_inp::placeholder {
  color: #9f9e9e;
  font-size: 14px;
}
#top_search_btn {
  position: absolute;
  top: 25%;
  font-size: 130%;
  right: 3px;
  color: #999999;
  transform: translate(-50%);
  background: white;
  cursor: pointer;
}
#top_search_btn:hover {
  color: #ed7745;
}
/* Right Side Icons Css */
#logo_div_right_div {
  max-width: 200px;
  min-width: 150px;
}
.search_div_icon_cont {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}
.search_div_icon_cont a:hover {
  fill: #ed7745;
}
.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #999999;
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 30%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_box_icons {
  font-size: 18px;
  color: black;
}
.tooltip_rect {
  opacity: 0;
}
.tooltip {
  position: absolute;
  background-color: #1c1b1b;
  color: #fff;
  font-family: "Mr Eaves XL Modern", sans-serif;
  padding: 5px 6px;
  font-size: 13px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}
/* LogIn $ SignUp Pop-Up CSS */
#login_signup_icon_div {
  position: relative;
}
.dropdown-menu {
  width: 120px;
  background: #ffffff;
  cursor: pointer;
  border: 1px solid #e1e1e1;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  text-align: start;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin-top: -4px;
  line-height: 1.2;
}
#login_btn {
  font-family: "Mr Eaves XL Modern", sans-serif;
  font-size: 1rem;
  border-bottom: 1px solid rgb(243, 240, 240);
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
#login_btn:hover {
  background-color: #f8f6f6;
  color: #ed7745;
}
#signup_btn {
  font-family: "Mr Eaves XL Modern", sans-serif;
  font-size: 1rem;
  border-bottom: 1px solid rgb(243, 240, 240);
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
#signup_btn:hover {
  color: #ed7745;
  background-color: #f8f6f6;
}
#login_signup_icon_div:hover .dropdown-menu {
  display: block;
}
.dropdown-menu p {
  margin: 0;
  padding: 5px 10px;
}

/* Category Box with Drop Down Functionality CSS */
#Product_drop_down_cont {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
  border-width: 1px 0;
  color: #000000;
  padding-top: 10px;
  background-color: white;
  position: relative;
  z-index: 999;
}
#Parent_product_drop_down {
  margin: auto;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 990px;
  min-width: 768px;
  position: relative;
}
.ul_drop_down {
  position: relative;
}
.card_product {
  position: relative;
}
.product_title {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline-block;
  color: #000000;
  font-size: 15px;
  font: 400;
  padding-bottom: 12px;
  position: relative;
}
.product_title:hover {
  color: #ed7745;
  border-bottom: 2px solid #ed7745;
  position: relative;
}
.child_product_divs {
  text-align: start;
  display: block;
  border-left: 1px solid rgb(232, 232, 232);
  padding-left: 15px;
  position: relative;
}
.child_product_divs a:nth-child(1) {
  color: #2f4858;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 18px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.child_product_divs a {
  text-decoration: none;
  color: #516571;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 3px;
  line-height: 1.5;
  display: block;
}
.child_product_divs a:hover {
  color: #ed7745;
}
.drop_down_products {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 15px 25px;
  border: 1px solid #ebebeb;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
.drop_down_products > div:nth-child(1) {
  border: none;
  padding-left: 0;
}
.card_product ul {
  display: none;
}
.card_product:hover ul {
  display: block;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.child_product_divs:hover .head_child_product {
  border-bottom: 1px solid #ed7745;
}
#deal_zone {
  min-width: 200px;
}
#Sofas_Recliners {
  min-width: 700px;
  left: -90%;
}
#Living {
  min-width: 500px;
  left: -550%;
}
#bedroom_mattress {
  min-width: 700px;
  left: -200%;
}
#dining {
  min-width: 500px;
  left: -550%;
}
#storage {
  min-width: 750px;
  left: -580%;
}
#study {
  min-width: 650px;
  left: -600%;
}
#light_decor {
  min-width: 850px;
  left: -480%;
}
#outdoor {
  min-width: 200px;
  right: -295%;
}
#urban_interior {
  min-width: 200px;
  left: -110%;
}
#trending {
  min-width: 850px;
  left: -1450%;
}

/* Animation CSS */
#animation_div_parent {
  position: relative;
  overflow: hidden;
  width: 97%;
  margin: auto;
  cursor: pointer;
}
#anim_image_tag {
  display: block;
  width: 100%;
  position: relative;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
#anim_btn_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.anim_btns {
  border: none;
  background-color: rgba(255, 255, 255, 0.747);
  padding: 8px 5px;
  cursor: pointer;
  font-family: "Mr Eaves XL Modern", sans-serif;
  font-size: 35px;
  color: #000000;
  line-height: 1;
}
.anim_icons {
  font-size: 40px;
  font-weight: 400;
}
#prev_anim_btn {
  position: absolute;
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 10px;
}
#next_anim_btn {
  position: absolute;
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-right: 10px;
}
#anim_dots_div {
  min-width: 90px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.anim_dots_icons {
  font-size: 0.6em;
  color: #a6a4a4;
}
.anim_dots_icons.active {
  color: #e85348;
}
.slide-right {
  animation-name: slide-right;
}
@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Explore Our Furniture Range Css */
.mid_sec_heading {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 0 10px 0;
  font-family: "Mrs Eaves XL Serif", serif;
  font-size: 28px;
  line-height: 32px;
  color: #2f4858;
  text-align: center;
  text-transform: capitalize;
  font-weight: 100;
}
.mid_sec_heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 1px;
  background-color: #e85348;
}
#furn_range_cont {
  width: 100%;
  margin-bottom: 120px;
  background-color: #f9fafa;
}
#explore_range_parent {
  margin: auto;
  max-width: 990px;
  min-width: 768px;
}
.icon_holder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.icon_cont {
  display: block;
  cursor: pointer;
  width: 100px;
  text-align: center;
}
.icon_cont:hover {
  fill: #ed7745;
}
.icon_cont a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-rendering: optimizelegibility;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.icon_cont:hover a {
  color: #ed7745;
}
.explore_icon_img {
  width: 70px;
  height: 70px;
  margin-bottom: 7px;
}
.category-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 7px;
}

/* Value Buys In Furniture & Value Buys In Decor Css*/
.mid_sec_card_cont_parent {
  width: 1050px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  flex-wrap: wrap;
}
.mid_card_img {
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.mid_card_img:hover {
  position: relative;
  transform: scale(1.07);
}
.mid_sec_btn_div {
  margin: auto;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1080px;
}
.mid_sec_btn_div button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.mid_sec_icons {
  font-size: 60px;
  font-weight: 300;
}
#value_decor_head {
  margin-top: 100px;
}
#value_decor_parent {
  margin-top: -10px;
  padding-bottom: 60px;
  border-bottom: 1px solid #eee;
  border-width: 1px 0;
}

/* Popular Across Site Css */
#across_site_head {
  margin-top: -1px;
  margin-bottom: 30px;
}
#across_site_cont {
  margin: auto;
  max-width: 980px;
  min-width: 768px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Mr Eaves XL Modern", sans-serif;
}
.across_site_cards {
  text-align: center;
  font-size: 12px;
}
.across_site_cards img {
  display: block;
  max-height: 220px;
  max-width: 220px;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
}
.across_site_cards > p {
  font-size: 13px;
  margin-bottom: -12px;
}
.across_site_cards > p:nth-child(2) {
  color: #494848;
}
.across_site_cards > p:nth-child(3) {
  color: #999999;
}
.across_site_cards > p:nth-child(4) {
  color: #3e3d3d;
}
.across_site_cards > p:nth-child(4) > span {
  color: #999999;
  text-decoration: line-through;
}
.mid_sec_btn_div {
  margin: auto;
  max-width: 1100px;
  min-width: 768px;
  left: 13.3%;
}

/* Customer Stories Css*/
#customer_stories_head {
  margin-top: 80px;
  margin-bottom: 30px;
}
#customer_stories_parent {
  max-width: 900px;
  min-width: 768px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customer_cards {
  width: 32%;
  border: 1px solid #979797;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Mr Eaves XL Modern", sans-serif;
  height: 525px;
}
.cust_icon {
  border-radius: 50%;
  margin-top: 20px;
}
.cust_name {
  text-transform: uppercase;
  margin-top: 7px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Mr Eaves XL Modern", sans-serif;
  color: #212121;
}
.via_facebook {
  color: #f9913d;
  position: relative;
  top: -21px;
  font-size: 13px;
  cursor: pointer;
}
#cust_img_1 {
  display: inline-block;
  max-height: 220px;
  max-width: 220px;
  vertical-align: middle;
  cursor: pointer;
  margin-top: -25px;
}
#cust_img_2 {
  margin-top: 25px;
  display: inline-block;
  margin-bottom: 44px;
  max-height: 220px;
  max-width: 220px;
  vertical-align: middle;
}
#cust_img_3 {
  margin-top: 2px;
  display: inline-block;
  margin-bottom: 29px;
  max-height: 220px;
  max-width: 220px;
  vertical-align: middle;
}
.cust_img_name {
  font-size: 13px;
  font-weight: 500;
  color: #494848;
  font-family: "Mr Eaves XL Modern", sans-serif;
}
.cust_btn {
  cursor: pointer;
  border: 0;
  font-size: 12px;
  background-color: #f28557;
  padding: 7px 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Mr Eaves XL Modern", sans-serif;
  text-align: center;
  font-weight: 600;
  border-radius: 3px;
  word-spacing: 2px;
  border-style: solid;
  outline: none;
  margin-top: -3px;
}
.cust_btn:hover {
  transition: background-color 150ms ease-out;
  background-color: #fc7034;
  text-transform: uppercase;
}
.cust_quote {
  text-align: start;
  padding: 0 10px;
  margin-top: -12px;
}
.cust_quote > p > span:nth-child(1) {
  color: rgb(0, 0, 0);
  font-size: 25px;
  cursor: pointer;
}
.cust_quote > p > i {
  color: #999999;
  font-family: "Mrs Eaves XL Serif", serif;
  cursor: pointer;
  font-size: 15px;
  font-style: italic;
}
.cust_more_quote {
  cursor: pointer;
  font-family: raleway;
  font-style: initial;
  font-size: 11px;
  font-weight: 500;
  color: #f9913d;
}
.last_btn {
  font-size: 50px;
}
#view_cust_stories_div {
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #ed7745;
  background-color: #ffffff;
  color: #ed7745;
  max-width: 250px;
  border-radius: 4px;
  text-align: center;
  margin: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
#view_cust_text {
  font: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Subscribe Box Css */
#subs_cont {
  text-align: center;
  width: 100%;
  height: 170px;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-width: 1px 0;
}
#subs_cont > h2 {
  font-size: 18.6667px;
  line-height: 20px;
  word-spacing: 6px;
  letter-spacing: 2px;
  color: #000000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
#subs_cont > form {
  max-width: 990px;
  min-width: 435px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -20px;
}
#email_inp {
  width: 280px;
  float: right;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  box-shadow: none;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  background-color: #ffffff;
  padding: 7px;
  font-size: 15px;
}
#email_inp::placeholder {
  font-size: 13px;
  word-spacing: 2px;
  color: #a6a4a4;
}
#email_inp:focus {
  background-color: #f0f0f0;
  border: 1px solid #04a7ff;
  outline: none;
}
#subs_btn {
  border: none;
  width: 145px;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ed7745;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  color: white;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 15px;
}
#subs_btn:hover {
  background-color: #ff6827;
}

/* Lower Section Css*/
#lower_cont {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #fff;
  padding-top: 30px;
}
#lower_parent {
  max-width: 990px;
  min-width: 768px;
  margin: auto;
}
#upper_child_cont {
  display: flex;
  justify-content: space-between;
}
#upper_left {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.upper_right_card {
  width: 50%;
}
.text_cont {
  display: flex;
  justify-content: space-between;
}
.text_card p {
  cursor: pointer;
  line-height: 25px;
  color: #2f4858;
  font-family: "Mr Eaves XL Modern", sans-serif;
  margin-bottom: -12px;
  font-size: 13px;
}
.text_card p:nth-child(1) {
  margin-top: 5px;
}
.text_card p:hover {
  color: #ed7745;
}
#compt_text_cont {
  width: 185px;
}
#upper_right {
  display: flex;
  justify-content: space-between;
}
#upper_right_card {
  width: 50%;
}
#lower_parent h2 {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: 500;
  position: relative;
}
#the_comp_head::after {
  left: 13.5%;
  transform: translateX(-80%);
  content: "";
  position: absolute;
  top: 32px;
  bottom: 0;
  width: 40px;
  height: 1px;
  background-color: #ed7745;
}
#more_imp_head::after {
  left: 13.5%;
  transform: translateX(-80%);
  content: "";
  position: absolute;
  top: 32px;
  bottom: 0;
  width: 40px;
  height: 1px;
  background-color: #ed7745;
}
#more_imp_text_cont_1 {
  width: 300px;
}
#more_imp_text_cont_2 {
  width: 200px;
}
#upper_right {
  width: 420px;
}
#upper_right p {
  line-height: 25px;
  color: #2f4858;
  font-family: "Mr Eaves XL Modern", sans-serif;
  margin-bottom: -12px;
  font-size: 13px;
}
#explore_more_head::after {
  left: 20.5%;
  transform: translateX(-80%);
  content: "";
  position: absolute;
  top: 32px;
  bottom: 0;
  width: 40px;
  height: 1px;
  background-color: #ed7745;
}
#upper_right p:hover {
  cursor: pointer;
  color: #ed7745;
}
#address_cont {
  width: 340px;
}
#address_cont p {
  font-size: 11px;
  margin-bottom: -18px;
}
#address_cont p:hover {
  cursor: auto;
  color: #2f4858;
}
#CIN {
  margin-top: 20px;
}
#CIN span {
  font-weight: 600;
}
#address_head::after {
  left: 12.4%;
  transform: translateX(-80%);
  content: "";
  position: absolute;
  top: 32px;
  bottom: 0;
  width: 40px;
  height: 1px;
  background-color: #ed7745;
}
#lower_child_cont {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.lower_icons_cont {
  margin-top: 18px;
}
#connect_with_head {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: 500;
  position: relative;
}
#connect_with_head::after {
  left: 10%;
  transform: translateX(-80%);
  content: "";
  position: absolute;
  top: 32px;
  bottom: 0;
  width: 40px;
  height: 1px;
  background-color: #ed7745;
}
#download_app_head {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: 500;
  position: relative;
}
#download_app_head::after {
  left: 8%;
  transform: translateX(-80%);
  content: "";
  position: absolute;
  top: 32px;
  bottom: 0;
  width: 40px;
  height: 1px;
  background-color: #ed7745;
}
.lower_icons_cont {
  display: flex;
  justify-content: space-between;
}
#connect_icons_div {
  width: 330px;
}
#connect_icons_div i {
  font-size: 21px;
  cursor: pointer;
  color: rgb(80, 79, 79);
}
#connect_icons_div i:hover {
  color: #ed7745;
}
#lower_left p {
  color: #ed7745;
  cursor: pointer;
  margin-top: 0;
  font-size: 13px;
}
#download_div {
  width: 420px;
}
#download_img_cont {
  display: inline;
}
#download_img_cont img {
  width: 130px;
  cursor: pointer;
  margin-top: 1px;
}
#app_store {
  margin-right: 5px;
}

/*  Media Querry for Tablet  */
@media screen and (max-width: 900px) and (min-width: 451px) {
  #topmost_div {
    display: none;
  }

  #low_sc_top_most_div {
    display: flex;
  }

  #low_sc_top_most_div h2 {
    min-width: 300px;
  }

  #help_track_container {
    display: none;
  }

  #logo_div_container {
    display: none;
  }
}

/* Media Querry for Mobile */
@media screen and (max-width: 450px) {
  body {
    background-color: blue;
  }
}
#test_div {
  height: 1000px;
  border: 3px solid red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  fill: #ed7745;
  max-width: 990px;
  min-width: 768px;
  font-family: "Mr Eaves XL Modern", sans-serif;
}
